@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">Student Grade Reports</h1>
   <h3>Aurel Villyani</h3>
   @using (Html.BeginForm())
   {
      <button type="submit" value="get_gpa_list" asp-page-handler="AccessStudentList">Get Student List</button>
      <button type="submit" value="get_grade_report" asp-page-handler="AccessGradeReport">Get Grade Report</button>

      <h2>@Html.Raw(@ViewData["showStudentGpaList"])</h2>
      <p class="text-center">@Html.Raw(@ViewData["showGradeReport"])</p>
   }
</div>
