@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<div class="text-center">
   <h1 class="display-4">Student Grade Reports</h1>
   <h3>Aurel Villyani</h3>
   @using (Html.BeginForm())
   {
      <button class="btn-primary" type="submit" value="get_instructor_list" asp-page-handler="AccessInstructorList">Get Instructor List</button>
      @if (ViewData["showInstructorList"] != null)
      {
         @Html.DropDownList("instructorList", (IEnumerable<SelectListItem>)ViewData["showInstructorList"])
         <button>Get Instructor Info</button>
         @Html.Raw(@ViewData["showInstructorInfo"])
      }
   }
</div>
